---
---
@import "color-schemes/solarized-light";
$icon-background-color: rgba(0, 0, 0, 0);
$icon-primary-color: $green;
$icon-secondary-color: $magenta;
$icon-tertiary-color: $cyan;


.main1 {
  fill: none;
  stroke: $icon-primary-color;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.secondary1 {
  fill: none;
  stroke: $icon-secondary-color;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.main2 {
  fill: none;
  stroke: $icon-primary-color;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.secondary2 {
  fill: none;
  stroke: $icon-secondary-color;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.tertiary1 {
  fill: none;
  stroke: $icon-tertiary-color;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.back {
  fill: $icon-background-color;
}
.tertiary2 {
  fill: $icon-tertiary-color;
}