---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "DejaVu Serif", Georgia, serif;
$base-font-size:   100%;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:       #f8f8f2;
$background-color: #2e2b2c;
