---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$body-width: 40em;

$base-font-family: "DejaVu Sans", Arial, serif;
$mono-font-family: "DejaVu Sans Mono", monospace;
$base-font-size:   100%;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: $base-line-height * 1rem;

$text-color: #000;
$background-color: #fff;

$secondary-text-color: #666; //lower contrast
$tertiary-text-color: #ccc; //lowest contrast
$vibrant-text-color-1: #00f;
$vibrant-text-color-2: #90c;
$vibrant-text-color-3: #f60;
$vibrant-text-color-4: #f00;

@import "base";
@import "layout";