---
# Only the main Sass file needs front matter (the dashes are enough)
---
$text-color: #000;
$background-color: #fff;

$secondary-text-color: #666; //lower contrast
$tertiary-text-color: #999; //lowest contrast
$vibrant-text-color-1: #00f;
$vibrant-text-color-2: #90c;
$vibrant-text-color-3: #f60;
$vibrant-text-color-4: #f00;

@charset "utf-8";
@import "base";
@import "layout";