---
layout: page
title: Music & Poetry
permalink: /music/
---
<p>The files here are <strong>not</strong> CC-licensed at this time. Downloading for personal use is permitted. If you're interested in other uses, please contact me. Chances are good I'll approve, but I'd like to be kept in the loop.</p>

{% for audio in site.music %}
  <section class="musicblock">
    <audio src="{{ audio.audio_path }}" preload="metadata" controls></audio>
    <p>{{ audio.title }}{% if audio.composer %}, by {{ audio.composer }}{% endif %}.
      {% if audio.recording_type contains "song" %}
      <a href="{{ audio.text_path }}">Lyrics</a>.
      {% endif %}
      {% if audio.recording_type contains "poem" %}
      <a href="{{ audio.text_path }}">Poem</a>.
      {% endif %}
  </section>
{% endfor %}