---
layout: default
title: Recordings
permalink: /recordings/
ordering_priority: 5
---
<article class="post">
<h2>Songs</h2>
{% for audio in site.recordings %}
{% if audio.recording_type == "song" %}
  <section class="musicblockwide">
    <audio src="{{ audio.audio_path }}" preload="metadata" muted="true" controls>Your browser does not support HTML5 audio. Click <a href="{{ audio.audio_path }}">here</a> to listen.</audio>
    {% if audio.composer %}
      <div class="songname"><p>{{ audio.title }}</p></div>
      <p class="songtext"><a href="{{ audio.text_path }}">Lyrics by {{ audio.composer }}.</a></p>
    {% else %}
      <div class="songname"><p><a href="{{ audio.text_path }}">{{ audio.title }}</a></p></div>
    {% endif %}
  </section>
{% endif %}
{% endfor %}
<h2>Poems</h2>
{% for audio in site.recordings %}
{% if audio.recording_type == "poem" %}
  <section class="musicblockwide">
    <audio src="{{ audio.audio_path }}" preload="metadata" muted="true" controls>Your browser does not support HTML5 audio. Click <a href="{{ audio.audio_path }}">here</a> to listen.</audio>
    <div class="songname"><p>{{ audio.title }}</p></div>
    <p class="songtext"><a href="{{ audio.text_path }}">Poem{% if audio.composer %} by {{ audio.composer }}.{% endif %}</a></p>
  </section>
{% endif %}
{% endfor %}
<h2>Jewish Prayers/Hymns/etc</h2>
{% for audio in site.recordings %}
{% if audio.recording_type == "hymn" %}
  <section class="musicblocknarrow">
    <audio src="{{ audio.audio_path }}" preload="metadata" muted="true" controls>Your browser does not support HTML5 audio. Click <a href="{{ audio.audio_path }}">here</a> to listen.</audio>
    {% if audio.text_path %}
      <p class="songname"><a href="{{ audio.text_path }}">{{ audio.title }}</a></p>
    {% else %}
      <p class="songname">{{ audio.title }}</p>
    {% endif %}
  </section>
{% endif %}
{% endfor %}
</article>