$text-color: #C9C4DB;
$background-color: #40193B;
$site-background: #2c0e28;
$is-dark-background: false;

$secondary-text-color:  #ccc;
$dividing-line-color: #ccc; //lowest contrast
$link-color: #F1C000; //unclicked link
$link-visited-color: #C98F00; //clicked link
$main-title-color: #8DAD73; //title
