$text-color: #000;
$background-color: #fff;
$site-background: #eee;
$is-dark-background: false;

$secondary-text-color:  rgba(0, 0, 0, 0.6);
$dividing-line-color: #ccc; //lowest contrast
$link-color: #00f; //unclicked link
$link-visited-color: #939; //clicked link
$main-title-color: #c00; //title
