$text-color: #000;
$background-color: #fff;

$secondary-text-color:  #666;
$dividing-line-color: #ccc; //lowest contrast
$link-color: #00f; //unclicked link
$link-visited-color: #939; //clicked link
$main-title-color: #333; //title

a:hover, a:visited:hover {color: #e00;} //special rule, most themes won't need this