$text-color: #ddd;
$background-color: #444;
$is-dark-background: true;

$secondary-text-color:  #999;
$dividing-line-color: #333;
$link-color: #cd0;
$link-visited-color: #3dc;
$main-title-color: #fff;
$site-background: #383533;
