$text-color: #219;
$background-color: #fff;
$is-dark-background: false;

$secondary-text-color:  transparentize(#009, 0.5);
$link-color: #c35;
$link-visited-color: #2ad;
$main-title-color: #219;
$site-background: #f0faff;
pre, code {color: #000;}
