/*=

https://github.com/daylerees/colour-schemes/blob/master/atom/laravel/index.less
*/

$text-color: #DEDEDE;
$background-color: #2E2C2B;
$is-dark-background: true;

$secondary-text-color:  #888;
$dividing-line-color: transparentize(#ED1153, 0.7); //lowest contrast
$link-color: #C491C4; //unclicked link
$link-visited-color: #f69; //clicked link
$main-title-color: #Fa0; //title