/*
#FC580C;
#3B3633;
#FC6B0A;

https://github.com/daylerees/colour-schemes/blob/master/atom/laravel/index.less
*/

$text-color: #DEDEDE;
$background-color: #2E2C2B;
$site-background: #2c2a29;
$is-dark-background: true;

$secondary-text-color:  #888;
$dividing-line-color: #615953; //lowest contrast
$link-color: #FFC48C; //unclicked link
$link-visited-color: #FFA927; //clicked link
$link-hover-color: #fa6; //hover link
$main-title-color: #FDCA49; //title
