/*=

https://github.com/daylerees/colour-schemes/blob/master/atom/laravel/index.less


*/

$text-color: #DEDEDE;
$background-color: #321;

$secondary-text-color:  #765;
$dividing-line-color: #404545; //lowest contrast
$link-color: #99B; //unclicked link
$link-visited-color: #9AA; //clicked link
$main-title-color: #fc3; //title