$text-color: #fff;
$background-color: #926;// blend between #A21768 and #DE3392;
$site-background: #237;
$is-dark-background: false;

$secondary-text-color:  rgba(255, 255, 255, 0.6);
$link-color: #bcf; //unclicked link
$link-visited-color: #6ff; //clicked link
$main-title-color: #fff; //title
