$text-color: #000;
$background-color: #bbb;
$is-dark-background: false;

$secondary-text-color:  #fff;
$dividing-line-color: #ccc; //lowest contrast
$link-color: #64f; //unclicked link
$link-visited-color: #c08; //clicked link
$main-title-color: #fff; //title
$site-background: #aaa;
