//modified from daylerees.github.io

$text-color: #f8f8f2;
$background-color: #2e2b2c;
$is-dark-background: true;

$secondary-text-color:  #B1A4A5; //lower contrast, formerly #8f8787
$dividing-line-color: #696363; //lowest contrast
$link-color: #C491C4; //greyish pink
$link-visited-color: #F76ACB; //bright pink
$main-title-color: #FC155B; //red, originally #ED1153
$link-hover-color: #B866FA; //violet

body>header>h1 {
  text-shadow: 2px 2px 2px #000;
}