$text-color: #FFF;
$background-color: #50302C;

$secondary-text-color:  lighten($background-color, 25%);
$dividing-line-color: #210; //lowest contrast
$link-color: #FBD; //unclicked link
$link-visited-color: #F7B; //clicked link
$main-title-color: #FFF; //title

body>header>h1 {
  text-shadow: 2px 2px 2px $dividing-line-color;
  a:hover {
    text-decoration: underline;
    text-decoration-style: wavy !important;
  }
}