$text-color: #FFF;
$background-color: #582E2C; //#50302C
$is-dark-background: true;

$secondary-text-color:  lighten($background-color, 35%);
$dividing-line-color: #210; //lowest contrast
$link-color: #FD7; //unclicked link #FBD
$link-visited-color: #F7B; //clicked link
$main-title-color: #FFF; //title

@mixin shadowy {text-shadow: 1.5pt 1.5pt 1.5pt $dividing-line-color;}

body>header>h1 {
  a:hover {
    text-decoration: none !important;
    //font-weight: bolder;
    position: relative;
    top: -1.5pt;
    left: -1.5pt;
    text-shadow: 4.5pt 4.5pt 3pt $dividing-line-color;
  }
}

h1>a, h2, h3 {@include shadowy;}

figure img {
  //box-shadow: 0.125em 0.125em 0.25em $dividing-line-color;
}