/*=

https://github.com/daylerees/colour-schemes/blob/master/atom/laravel/index.less


*/

$text-color: #9AA;
$background-color: #303438;
$is-dark-background: true;

$secondary-text-color:  #707880;
$dividing-line-color: #404545; //lowest contrast
$link-color: #CFF; //unclicked link
$link-visited-color: #DDF; //clicked link
$main-title-color: #fc3; //title