//source: http://ethanschoonover.com/solarized

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$text-color: $base01;
$background-color: $base3;
$is-dark-background: false;

$secondary-text-color:  $base1;
$dividing-line-color: darken($base2, 5%); //lowest contrast
$link-color: $orange; //unclicked link
$link-visited-color: $magenta; //clicked link
$main-title-color: $yellow; //title

html {
  background-image: url('/assets/images/lostcity_pillow_tricolor.svg');
  background-attachment: fixed;
}
body{
  box-shadow: 0 0 6pt rgba(0, 0, 0, 0.2);
}
pre, code {
  border-color: darken($base2, 15%) !important;
  background-color: $base2 !important;
}
*::-moz-selection{background-color: $base2;}
*::selection{background-color: $base2;}