<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>
  <nav>
    {% assign sorted_pages = site.pages | sort: "ordering_priority" %}
    {% for my_page in sorted_pages %}
      {% unless ordering_priority == -1 %}
        {% if my_page.short_title %}<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.short_title }}</a>
        {% elsif my_page.title %}
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endunless %}
    {% endfor %}
  </nav>
</header>
