/**
 * Basic styling
 */
body {
    color: $text-color;
    background-color: $background-color;
}

$spacing-unit: 1.5em;

/**
 * style description lists
 */
dl {
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit;
}

dl ol, dl ul {
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  padding-left: 0;
  margin-left: 3ch;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $base-font-size;
}



/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: $link-visited-color;
    }

    &:hover, &:focus, &:active {
        font-weight: bold;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $secondary-text-color;
}



/**
 * Code formatting
 */
pre,
code {
    font-family: $mono-font-family;
    @if $is-dark-background {
      background-color: lighten($background-color, 10%);
    }
    @else {
        background-color: darken($background-color, 10%);
    }
}

pre {
    overflow-x: auto;
}

[data-rmd] cite {
  font-style: normal;
  font-weight: normal;
  &::before, &::after { content: "\2017"; }
}

[data-rmd~=hr-asterism] hr::before { content: '\2042'; }
[data-rmd~=em-underscore] em::before, [data-rmd~=em-underscore] em::after { font-weight: bold; }
