/**
 * Basic styling
 */
body {
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: $base-font-family;
    color: $text-color;
    background-color: $background-color;
}

/**
 * Create line gaps
 */
$spacing-unit: $base-line-height * 1rem;

/**
 * Set vertical margins to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit;
}

/**
 * Make lists nest well
 */
dl ol, dl ul, ol ol, ol ul, ul ol, ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

ol, ul {
  padding-left: 3ch;
}
dd {
  padding-left: 0;
  margin-left: 3ch;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $base-font-size;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-size: 1rem;
}



/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: $link-visited-color;
    }

    &:hover {
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $secondary-text-color;
    border-left: 0.25ch solid $dividing-line-color;
    padding-left: 1.75ch;
    margin-left: 0;
    margin-right: 0;
}



/**
 * Code formatting
 */
pre,
code {
    font-size: $small-font-size;
    font-family: $mono-font-family;
    border-radius: 2pt;
    @if $is-dark-background {
      background-color: lighten($background-color, 10%);
    }
    @else {
        background-color: darken($background-color, 10%);
    }
}

pre {
    padding: $spacing-unit 1ch;
    overflow-x: auto;
}
