$text-color: #f8f8f2;
$background-color: #2e2b2c;

$secondary-text-color: #8f8787; //lower contrast
$tertiary-text-color: #696363; //lowest contrast
$vibrant-text-color-1: #C491C4; //greyish pink
$vibrant-text-color-2: #F76ACB; //bright pink
$vibrant-text-color-3: #ED1153; //red
$vibrant-text-color-4: #B866FA; //violet