/*
#FC6B0A;
#FC580C;
#FFA927;
#FFC48C;

https://github.com/daylerees/colour-schemes/blob/master/atom/laravel/index.less
*/

$text-color: #DEDEDE;
$background-color: #2E2C2B;

$secondary-text-color:  #615953;
$dividing-line-color: #3B3633; //lowest contrast
$link-color: #FC6B0A; //unclicked link
$link-visited-color: #FFA927; //clicked link
$link-hover-color: #FFC48C; //hover link
$main-title-color: #FDCA49; //title