/**
 * Main page
 */

body {
  max-width: $body-width;
  margin-left:auto;
  margin-right:auto;
  padding: 1px $spacing-unit;
}

/**
 * Site header
 */
body>header {
    border-bottom: solid $dividing-line-color;
    margin-bottom: $spacing-unit;

    h1 {
      font-size: 2 * $spacing-unit;
      line-height: 1;
      margin-top: $spacing-unit;
      margin-bottom: $spacing-unit/2;
      font-family: $alt-font-family;

      a, a:visited {
          color: $main-title-color;
          text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
        color: $main-title-color;
      }
    }

    nav {
      ul {
        list-style: inside none none;
        padding-left: 0;
        margin-left: 0;
        margin-top: $spacing-unit / 2;
        margin-bottom: $spacing-unit / 2;
        li {
          display: inline-block;
          margin: 0;
          margin-right: 0.5em;
          a {
            // text-decoration: underline;
          }
        }
      }
    }
}

/**
 * Page/Post header
 */
.post-header {
  .post-title {
    font-size: 2rem;
    border-radius: 0.25em;
    text-align: center;
    margin-bottom: 0;
    // font-family: $alt-font-family;
  }
  .post-meta {
    text-align: center;
    margin-top: 0;
    font-style: italic;
    color: $secondary-text-color;
  }
}

/**
 * Site footer
 */
body>footer {
  border-top: solid $dividing-line-color;
  font-size: $small-font-size;
  color: $secondary-text-color;
}

/**
 * Blog post list
 */
ul.post-list {
  margin-left: 1.5ch;
  list-style-type: square;
  
  .post-meta {
    font-size: $small-font-size;
  }
  
  a {
    font-weight: bold;
  }
}