.musicblock, .musicblockwide {
  // border-top: dotted thin $dividing-line-color;
  // audio{margin-top: $spacing-unit;}
  display: block;
  margin-bottom: $spacing-unit;
  div.audio-player-wrapper {
    height: $spacing-unit;
  }
  audio {
    display: block;
  }
  .songname {
    margin: 0;
    font-weight: normal;
  }
  .songtext {
    color: $secondary-text-color;
    margin: 0;
  }
}
