.musicblock, .musicblocknarrow {
  // border-top: dotted thin $dividing-line-color;
  // audio{margin-top: $spacing-unit;}
  display: inline-block;
  width: 47.5%;
  text-align: left;
  // height: $spacing-unit * 4;
  audio {
    display: block;
    width: 90%;
  }
  h3.songname {
    margin-top: 0;
    margin-bottom: $spacing-unit;
    &::before { content: none; }
  }
}
