.musicblock, .musicblockwide {
  // border-top: dotted thin $dividing-line-color;
  // audio{margin-top: $spacing-unit;}
  display: block;
  margin-bottom: $spacing-unit;
  audio {
    display: block;
  }
  .songname {
    margin: 0;
    &::before { content: none; }
  }
  .songtext {
    color: $secondary-text-color;
    margin: 0;
  }
}
