figure.photoset {
  padding-top: $spacing-unit * (11/12);
  border-top: dashed $dividing-line-color;
  border-top-width: $spacing-unit * (1/12);
  margin-top: $spacing-unit;
  text-align: center;
  margin-left: 0;
  margin-right: 0;

  > a {
    display: inline-block;
    margin: 3pt;
    border: $background-color inset 3pt;
    &:hover, &:focus {
      border-style: outset;
    }
    &:active {
      border-style: ridge;
    }
    img {
      max-width: 15em;
      max-height: 15em;
      display: inline-block;
    }
  }

  > a:not(.patternblock):only-of-type {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  a.patternblock {
    width: 100%;
    height: 6em;
    border: none;
  }

  //special cases

  &.L10a140 img {
    padding: 3pt;
  }
  &.L10a140 a:first-child img {
    padding: 2.25pt;
  }
  &.ilzoctopus img {
    max-width: 100%;
    max-height: 100%;
  }

  figcaption {
    text-align: left;
  }
}
