/**
 * Main page
 */

body {
  width: 30em;
  margin-left:auto;
  margin-right:auto;
  padding-left: $base-line-height * 1em;
  padding-right: $base-line-height * 1em;
}

@mixin contentblock {
  border-color: $tertiary-text-color;
}

/**
 * Site header
 */
body>header {
    @include contentblock;
    border-bottom: solid;
    margin-bottom: $spacing-unit;

    h1 {
      font-size: $spacing-unit;
      line-height: 1;
      margin-top: 1em;
      margin-bottom: ($base-font-size * $base-line-height);
      color: $vibrant-text-color-3;

      a, a:visited {
          color: $vibrant-text-color-3;
      }
    }

    nav {
      ul {
        list-style: inside none none;
        padding-left: 0;
        margin-left: 0;
        li {
          display: inline-block;
          margin: 0;
          margin-right: 1em;
        }
      }
    }
}