/**
 * Main page
 */
html {
  background: $site-background fixed;
}


body {
  max-width: $body-width;
  margin: 0 auto;
  padding: 1px 1.5em;
  box-shadow: 0 0 6pt rgba(0, 0, 0, 0.2);
}

/**
 * Site header
 */
body>header {
    >a.site-title::before, >a.site-title::after { content: normal; }
    >a.site-title {
      color: $main-title-color;
      &:visited {
          color: $main-title-color;
      }
      >h1 {
        margin-top: 1.5em;
        font-weight: bold;
        margin-bottom: 0;
        &::after { font-weight: normal; }
        &:focus::after, &:hover::after, &:active::after {
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
    nav {
      margin-top: 0;
      >a.page-link::before { content: "[/"; }
    }
}

/**
 * Page/Post header
 */
.post-header {
  .post-title {
    margin-bottom: 0;
    margin-top: 1.5em;
  }
  .post-meta {
    margin-top: 0;
    color: $secondary-text-color;
  }
}

h2.page-heading { margin-top: 1.5em; }

/**
 * Site footer
 */
body>footer {
  color: $secondary-text-color;
}

aside.comments {
  background-color: #fff;
  padding: 1.5em;

  noscript { font-family: "Helvetica Neue",arial,sans-serif; }
}
