.musicblock, .musicblocknarrow {
  // border-top: dotted thin $dividing-line-color;
  // audio{margin-top: $spacing-unit;}
  display: inline-block;
  width: 47.5%;
  text-align: left;
  margin-bottom: 0;
  // height: $spacing-unit * 4;
  audio {
    display: block;
    width: 90%;
  }
  .songname{
    height: $spacing-unit * 2;
    display: table;
  }
  .songname p {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
  }
  .songtext {
    font-size: $small-font-size;
    color: $secondary-text-color;
    height: $spacing-unit * 2;
    display: table-cell;
    margin-top: 0;
  }
}