.musicblock, .musicblocknarrow {
  display: inline-block;
  width: 47.5%;
  text-align: left;
  audio {
    display: block;
    width: 90%;
  }
  h3.songname {
    margin-top: 0;
    margin-bottom: $spacing-unit;
    &::before { content: none; }
  }
}
