figure.photoset {
  border-top: solid thin $dividing-line-color;
  text-align: center;
  padding-top: $spacing-unit;
  
  img {
    max-width: 15em;
    max-height: 15em;
    margin: 0.25rem;
    border: inset 0.25rem;
    border-color: transparentize($background-color, 0.25);
    display: inline-block;
    &:hover {
      border-style: outset;
    }
    &:active {
      border-style: ridge;
    }
  }
  
  &.L10a140 a:first-child img{
    border-width: (3rem / 16);
  }
  
  > img:only-of-type {
    max-width: unset;
    max-height: unset;
    margin-left: auto;
    margin-right: auto;
  }
}
