.musicblock, .musicblockwide {
  display: block;
  margin-bottom: $spacing-unit;
  audio {
    display: block;
  }
  .songname {
    margin: 0;
    &::before { content: none; }
  }
  .songtext {
    color: $secondary-text-color;
    margin: 0;
  }
}
