//modified from daylerees.github.io

$text-color: #f8f8f2;
$background-color: #2e2b2c;

$secondary-text-color:  #B1A4A5; //lower contrast, formerly #8f8787
$tertiary-text-color: #696363; //lowest contrast
$vibrant-text-color-1: #C491C4; //greyish pink
$vibrant-text-color-2: #F76ACB; //bright pink
$vibrant-text-color-3: #FC155B; //red, originally #ED1153
$vibrant-text-color-4: #B866FA; //violet
