---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "DejaVu Serif", Georgia, serif;
$base-font-size:   100%;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: $base-line-height * 2rem;

$text-color: #f8f8f2;
$background-color: #2e2b2c;

$secondary-text-color: #8f8787; //lower contrast
$tertiary-text-color: #696363; //lowest contrast
$vibrant-text-color-1: #C491C4; //greyish pink
$vibrant-text-color-2: #F76ACB; //bright pink
$vibrant-text-color-3: #ED1153; //red
$vibrant-text-color-4: #B866FA; //violet
