<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/main.css">
    {% for font in site.external_fonts %}
    <link rel="stylesheet" media="screen" href="{{ font.url }}" type="text/css"/>
    {% endfor %}
  </head>
  <body data-rmd="h1-underline h2-underline ul-plus em-underscore hr-center">
    {% include header.html %}
    <hr/>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <hr/>
    {% include footer.html %}
  </body>

</html>
