<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/main.css">
    {% for font in site.external_fonts %}
    <link rel="stylesheet" media="screen" href="{{ font.url }}" type="text/css"/>
    {% endfor %}
  </head>
  <body {% if site.remarkdown_options %} data-rmd="{{ site.remarkdown_options }}" {% endif %}>
    {% include header.html %}
    <hr/>
    <main class="page-content">
      {{ content }}
    </main>
    <hr/>
    {% include footer.html %}
  </body>
</html>
