<!DOCTYPE html>
<html>

  {% include head.html %}
  <link rel="stylesheet" href="{{ "/css/mesolexia.css" | prepend: site.baseurl }}">

  <body>
    <header>
    <h1><a href="/mesolexia/">Cure Mesolexia Now!</a></h1>
    <nav>
      <ul>
        <!--{% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}-->
        <!--Can't get pages working right now, sorry-->
        <li><a class="page-link" href="/mesolexia/what/">What is Mesolexia?</a></li>
        <li><a class="page-link" href="/mesolexia/know/">Know the Signs</a></li>
        <li><a class="page-link" href="/mesolexia/about/">About Us</a></li>
        <li><a class="page-link" href="/mesolexia/shirts/">Shirts</a></li>
        <li><a class="page-link" href="#">Donate</a></li>
        <li><a class="page-link" href="#">Walk for a Cure</a></li>
        <li><a class="page-link" href="/">Zeroed E-Kiln File</a></li>
      </ul>
    </nav>
    </header>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <footer><p>Cure Mesolexia Now! is run by Ilzolende Kiefer, and remains unincorporated at this time.</p></footer>
  </body>

</html>